body {
    background-color: #ff9a8b;
    background-image: linear-gradient(90deg, #ff9a8b 0%, #ff6a88 55%, #ff99ac 100%);
    font-family: 'Lato', sans-serif;
}

img {
    width: 5em;
}

.footer {
    position: relative;
    text-align: center;
    color: #891204;
    top: 10vh;
}

#container {
    margin: 0 auto;
    text-align: center;
}

#board {
    margin: 10px auto;
}

#loader {
    position: relative;
    right: 35px;
}

#finish {
    background-color: #00b8a9;
}

#again {
    background-color: #f6416c;
}

#howMuch {
    width: 30px;
}

.howMuch {
    display: none;
    margin: 5px 0;
}

.input {
    text-align: center;
    border: 1px solid black;

    height: 2rem;
    width: 2rem;
    font-size: 2rem;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.button-down {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 10%;
}

.checkbox-custom {
    display: inline-block;
    bottom: -3px;
}

.difficulty {
    margin: 10px;
    padding: 9px 23px;

    background-color: #a73f2d;
    box-shadow: inset 0px 34px 0px -15px #b54b3a;
    border: 1px solid #241d13;
    display: inline;
    cursor: pointer;
    color: #ffffff;

    font-weight: bold;

    text-decoration: none;
    text-shadow: 0px -1px 0px #7a2a1d;
}
.difficulty:hover {
    background-color: #b34332;
}
.difficulty:active {
    position: relative;
    top: 1px;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fadeEffect {
    animation-name: fade;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.group-1 {
    background-color: darkseagreen;
}
.group-2 {
    background-color: aqua;
}
.group-3 {
    background-color: rgb(48, 160, 81);
}
.group-4 {
    background-color: chartreuse;
}
.group-5 {
    background-color: cornflowerblue;
}
.group-6 {
    background-color: #baffb4;
}
.group-7 {
    background-color: #f2789f;
}
.group-8 {
    background-color: rgb(87, 52, 70);
}
.group-9 {
    background-color: deepskyblue;
}

@media only screen and (max-width: 768px) {
    .difficulty {
        font-size: 1rem;
        padding: 0.3rem;
    }

    #howMuch {
        width: 1rem;
    }
    #board {
        margin: none;
    }
}

@supports (-webkit-touch-callout: none) {
    .input {
        height: 1.1rem;
        width: 1.1rem;
        font-size: 1.1rem;
        font-weight: bold;
    }
}
