html,
body {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

/* Replace bootstrap blue border and shadow */
.no-shadow:focus {
    border: 0.1rem solid #891204;
    box-shadow: 0.2rem 0.2rem 0.1rem #891204;
}

.form-signin input[type='text'] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type='password'] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Header Font */
h1.h3 {
    color: #891204;
}

/* Sign in button */
button[type='submit'] {
    background-color: #811c1c;
    border: none;
}
button[type='submit']:hover {
    background-color: #891204;
}

.footer {
    color: #891204;
}

/* Bootstrap stuff */
img.mb-4 {
    height: 7em;
    width: 7em;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

#loader {
    position: relative;
    right: 35px;
    bottom: 100px;
}
